<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Pate</string>
			<string>Tomates</string>
			<string>Fromage</string>
		</array>
		<key>Nom</key>
		<string>Pizza</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;re fresh=2592000&amp;url=http://upload.wikimedia.org/wikipedia/commons/d/d3/Supreme_pizza.jpg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Pate</string>
			<string>Tomates</string>
			<string>Fromage</string>
		</array>
		<key>Nom</key>
		<string>Crêpe</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;refresh=2592000&amp;url=http://upload.wikimedia.org/wikipedia/commons/e/e7/Cr%C3%AApe_opened_up.jpg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Pate</string>
			<string>Tomates</string>
			<string>Fromage</string>
		</array>
		<key>Nom</key>
		<string>Soupe Potiron</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;refresh=2592000&amp;url=http://images.marmitoncdn.org/recipephotos/multiphoto/7f/7f95955c-cc92-4bf9-a45e-c429098aaac6_normal.jpg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Pate</string>
			<string>Tomates</string>
			<string>Fromage</string>
		</array>
		<key>Nom</key>
		<string>Crème Caramel</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;refresh=2592000&amp;url=http://files.meilleurduchef.com/mdc/photo/recette/creme-caramel/creme-caramel-640.jpg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Pate</string>
			<string>Tomates</string>
			<string>Fromage</string>
		</array>
		<key>Nom</key>
		<string>Boeuf Bourguignon</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;refresh=2592000&amp;url=http://lol.net/recette/medias/boeuf-bourguignon-sans-vin.jpg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Pate</string>
			<string>Tomates</string>
			<string>Fromage</string>
		</array>
		<key>Nom</key>
		<string>Pizza</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;refresh=2592000&amp;url=http://img0.gtsstatic.com/wallpapers/f37857c1489ba95f263ecaf7eeaf7827_large.jpeg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Viande</string>
			<string>Frites</string>
		</array>
		<key>Nom</key>
		<string>Hamburger</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;refresh=2592000&amp;url=http://www.buzzly.fr/wp-content/uploads/2013/05/9924570-hamburger-avec-pommes-de-terre-sur-fond-en-bois.jpg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
	<dict>
		<key>Ingredients</key>
		<array>
			<string>Pate</string>
			<string>Carbonara</string>
			<string>Fromage</string>
		</array>
		<key>Nom</key>
		<string>Pates Carbonara</string>
		<key>Image</key>
		<string>https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;resize_w=100&amp;resize_h=100&amp;refresh=2592000&amp;url=http://images.marmitoncdn.org/recipephotos/multiphoto/e9/e9b1affa-e6cc-4510-be44-348aba6e002b_normal.jpg</string>
		<key>Recette</key>
		<string>blabla</string>
	</dict>
</array>
</plist>
